<div>
    <h2>Plant Detail</h2>
    <img src="{{imageURL}}"/>
    <p>{{name}}</p>
    <p>Height: {{height}}</p>
    <p>Light: {{light}}</p>
    <p>Flowering time: {{floweringTime}}</p>
    <p>Native: {{native}}</p>
    <p>Tags: {{tags}}</p>
    <a href="/plants/{{this._id}}/edit">Edit</a>
    <button type="submit">{{btnText}}</button>
</div>