<div>
    <h2>Plant Detail</h2>
    <img src="{{imageURL}}" />
    <p><i class="bi bi-bookmark">{{name}}</i></p>
    <p><i class="bi bi-graph-up">Height: {{height}}</i></p>
    <p><i class="bi bi-brightness-high">Light: {{light}}</i></p>
    <p><i class="bi bi-flower1">Flowering time: {{floweringTime}}</i></p>
    <ul> <i class="bi bi-geo-alt">Native:</i>
        {{#each native}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p><i class="bi bi-hash">Tags: {{tags}}</i></p>
    {{#if userId}}
    <form action="/user/favorites/{{_id}}" method="POST">
        <button type="submit">
            {{#if isFavoritePlant}}
            Remove plant from favorites
            {{else}}
            Add plant to favorites
            {{/if}}
        </button>
    </form>
    {{/if}}
    {{#if isOwner}}
    <h3>Edit plant</h3>
    {{> editPlant}}
    <h3>Delete plant</h3>
    {{> deleteButton}}
    {{/if}}
</div>