<div class="mx-auto" style="width: 200px;">
<br>
  <div class="card" style="width: 16rem;">
    
    <img src="{{imageURL}}" class="card-img-top"/>
      <div class="card-body">
    
    <h5 class="bi bi-bookmark card-title">{{name}}</h5>
    <p class="bi bi-graph-up card-text"><b>Height:</b> {{height}}</p>
    <p class="bi bi-brightness-high card-text"><b>Light:</b> {{light}}</p>
    <p class="bi bi-flower1 card-text"><b>Flowering time:</b> {{floweringTime}}</p>
    <ul class="bi bi-geo-alt card-text"><b>Native:</b>
        {{#each native}}
        <div class="bi bi-cursor card-text">{{this}}</div>
        {{/each}}
    </ul>
    <p class="bi bi-hashcard-text"><b>Tags:</b> {{tags}}</p>
    {{#if userId}}
    <form action="/user/favorites/{{_id}}" method="POST">
        <button type="submit">
            {{#if isFavoritePlant}}
            <div class="bi bi-trash">Remove from Favorites</div>
            {{else}}
            <div class="bi bi-heart">Add to Favorites</div>
            {{/if}}
        </button>
    </form>
    {{/if}}
    {{#if isOwner}}
    <br>
    <h5>Edit plant</h5>
    {{> editPlant}}
    <br>
    {{> deleteButton}}
    {{/if}}
    </div>
</div>
</div>