<div>
    <h2>Plant Detail</h2>
    <img src="{{imageURL}}"/>
    <p>{{name}}</p>
    <p>Height: {{height}}</p>
    <p>Light: {{light}}</p>
    <p>Flowering time: {{floweringTime}}</p>
   <ul> Native: 
    {{#each native}}
     <li>{{this}}</li>  
        {{/each}}</ul>
    <p>Tags: {{tags}}</p>
    <form action="/user/favorites/{{_id}}" method="POST">
    <button type="submit">Add to Favorites</button>
    </form>
</div>
