<div>
    {{> plants}}
    <p>Name: {{name}}</p>
    <p>Height: {{height}}</p>
    <p>Light: {{light}}</p>
    <p>Flowering time: {{floweringTime}}</p>
    <p>Native: {{native}}</p>
    <p>Image: {{imageURL}}</p>
    <p>Tags: {{tags}}</p>
</div>